modules = ["python-3.11", "nix"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Discord Bot"

[[workflows.workflow]]
name = "Start Discord Bot"
author = 45241899
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd pybot && python main.py"

[[ports]]
localPort = 5000
externalPort = 80
